* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI';
  font-size: 14px;
}

body {
  padding: 65px 10px;
  background-color: #eee;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.header {
  background-color: #2196f3;
  background-color: #3367d6;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}


.header .container {
  display: flex;
  padding: 8px;
}

.header__search {
  flex: 1;
}

.search-container {
  
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  max-width: 600px;
  padding: 8px;
  border-radius: 2px;
}

.search-container span {
  
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.search-container .search-input {
  display: block;
  max-width: 600px;
  width: 100%;
  padding: 0 8px;
  font-size: 1rem;
  
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;  
}

.search-container .search-clear {
  cursor: pointer;
  display: inline-block;
}

.header__account {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header__account a {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 80%;
  margin: auto;
}

.wallet-container {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.summary {  
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.summary.negative {
    background-color: #f44336;
}

.summary__report {
  flex: 1;
  text-align: right;
}

.summary__report span {
  display: inline-block;
  margin-left: 8px;
}

.summary span:last-child {
  font-weight: 900;
}

.fee {
  display: flex;
  padding: 10px 10px;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
  /*-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;*/
}

.fee:before {
  content: '';
  display: block;
  right: 100%;
  top: 0%;
  bottom: 0%;
  width: 5px;
  background-color: #4caf50;
  position: absolute;
}

.fee.out:before {
    background-color: #f44336;
}

.fee:hover {
  background-color: #eee;
}

.fee.fee--checked {
  background-color: #ddd !important;
}

.last-fee .fee {
  border: none;
}

/*
.wallet-fee.ng-animate {
    display: block;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.wallet-fee.ng-enter.ng-animate,
.wallet-fee.ng-move.ng-animate,
.wallet-fee.ng-leave.ng-animate {
    display: block;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.wallet-fee.ng-enter-active,
.wallet-fee.ng-move-active,
.wallet-fee.ng-leave.ng-animate {
    opacity: 1;
    max-height: 40px;
    overflow: hidden;
}

.wallet-fee.ng-leave-active.ng-animate {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
*/

.fee__check label {
    cursor: pointer;
    display: block;
    padding: 10px 0;
}

.fee__note {
  flex: 1;
}

.fee__note input {
  width: 100%;
  display: block;
  height: auto;
  line-height: initial;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
}

.fee__note input:focus {
    color: #2196f3;
}

.fee__time {
  font-size: 1rem;
  padding: 0 8px;
}

.fee__money {
  font-weight: 900;
  color: #4caf50;
}

.fee.out .fee__money {
    color: #f44336;
}

.fee:hover input {  
  color: #2196f3;
}

.action {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #4488ff;
}

.action {
  
}

.action .container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  
  height: 56px;
}

.action .action__fn {
  flex: 1;
  text-align: right;
}

.md-button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 4px 16px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  transition: .3s ease-in-out;
}

.md-button.close-checked {
  margin-top: 4px;
}

.md-button.delete-button {
  background-color: rgba(0,0,0,.1);
  border-radius: 2px;
  border: none;
  padding: 8px 16px;
}

.action .total-checked {
  margin-left: 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {

  .container {
    max-width: 100%;
  }

  .fee {
    flex-direction: column;
  }
  
  .fee > div {
    width: 100%;
  }
  
  .fee__note {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 10px;
  }

  .fee .fee__money {
    width: auto;
  }
  
  .fee__money {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .fee__check label {
    text-align: left;
  }
}